{
	"singleQuote": false,
	"semi": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"plugins": [
		"prettier-plugin-svelte",
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-toml"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
