@import "tailwindcss";

html,
body,
#root {
	color: var(--color-light);
	background-color: var(--color-surface);
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	font-family: "Space Grotesk Variable", sans-serif;
	margin: 0;
	padding: 0;
}

@theme {
	--color-light: #fff;
	--color-dark: #0e141c;
	--color-light-dark: color-mix(in srgb, var(--color-dark) 70%, white 30%);

	--color-accent: #314b6e;
	--color-accent-dark: color-mix(in srgb, var(--color-accent) 90%, black 10%);
	--color-accent-light: color-mix(in srgb, var(--color-accent) 70%, white 30%);

	--color-surface: color-mix(in srgb, var(--color-accent) 10%, var(--color-dark) 90%);
}
